In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('LAMBAYEQUE.csv')
df

,V Cod Para,V AÃ±o,V Dia,Periodo,1,2,3,4,5,6,7,8,9,10,11,12
0,PT101,2015,1,'15-01,0,0,0,0,0,0,0,0,0,0,0,-888
1,PT101,2015,2,'15-02,0,0,0,0,0,0,0,0,0,0,0,0
2,PT101,2015,3,'15-03,0,0,0,0,0,0,0,0,0,0,0,0
3,PT101,2015,4,'15-04,0,0,0,0,0,0,0,0,0,0,0,0
4,PT101,2015,5,'15-05,0,0,0,0,0,0,0,0,0,S/D,0,0
5,PT101,2015,6,'15-06,0,0,0,0,0,0,0,0,0,0,0,0
6,PT101,2015,7,'15-07,0,0,0,0,0,0,0,0,0,0,0,0
7,PT101,2015,8,'15-08,0,0,0,0,0,0,0,0,0,0,0,0
8,PT101,2015,9,'15-09,0,0,0,0.4,0,0,0,0,0,0,-888,0
9,PT101,2015,10,'15-10,0,0,0,0,0,0,0,0,0,0,0,0
10,PT101,2015,11,'15-11,0,0,0,0,0,0,0,0,0,0,0,0
11,PT101,2015,12,'15-12,0,0,0,0,0.4,0,0,0,0,0,0,0
12,PT101,2015,13,'15-13,0,0,0,0,0,0,0,0,0,0,0,0
13,PT101,2015,14,'15-14,0,0,1.3,0,0,0,0,0,0,0,0,0
14,PT101,2015,15,'15-15,0,0,9.1,0,0,0,0,0,0,0,0,0
15,PT101,2015,16,'15-16,0,0,0,0,0,0,0,0,0,0,0,0
16,PT101,2015,17,'15-17,0,0,0,0,0,0,0,0,0,0,-888,0
17,PT101,2015,18,'15-18,-888,0,2.2,0,0,0,0,0,0,0,0,0
18,PT101,2015,19,'15-19,0,0,1.1,0,0,0,0,0,0,0,0,0
19,PT101,2015,20,'15-20,0,0,0,0,0,0,0,0,0,0,0,0
20,PT101,2015,21,'15-21,0,0,0,0,0,0,0,0,0,0,-888,0
21,PT101,2015,22,'15-22,0,0,18,0,0,0,0,0,0,0.9,0,0
22,PT101,2015,23,'15-23,0,0,0,0,0,0,0,0,0,0,0,0
23,PT101,2015,24,'15-24,0,0.5,0,0,0,0,0,0,0,0,0,0
24,PT101,2015,25,'15-25,0,0,0,0,0,0,0,0,0,0,0,0
25,PT101,2015,26,'15-26,0,0,0,0,0,0,0,0,0,0,0,0
26,PT101,2015,27,'15-27,0,0,0,0,0,0,0,0,0,0,0,0
27,PT101,2015,28,'15-28,0,0,0,0,0,0,0,0,0,0,-888,0.8
28,PT101,2015,29,'15-29,0,S/D,0,0,0,0,0,0,0,0,0,0
29,PT101,2015,30,'15-30,0,S/D,0,0.3,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,VT107,2017,1,'17-01,S/D,S/D,S/D,4,S/D,3.3,2.7,4.7,S/D,NaN,NaN,NaN
211,VT107,2017,2,'17-02,S/D,1.3,5.3,S/D,S/D,2,2.7,S/D,S/D,NaN,NaN,NaN
212,VT107,2017,3,'17-03,S/D,S/D,2.7,S/D,S/D,2,5.3,4,S/D,NaN,NaN,NaN
213,VT107,2017,4,'17-04,S/D,2,S/D,S/D,S/D,S/D,2.7,4,5.3,NaN,NaN,NaN
214,VT107,2017,5,'17-05,S/D,2.7,S/D,S/D,S/D,S/D,S/D,4,5.3,NaN,NaN,NaN
215,VT107,2017,6,'17-06,S/D,2.7,S/D,4.7,S/D,S/D,S/D,S/D,5.3,NaN,NaN,NaN
216,VT107,2017,7,'17-07,S/D,3.3,S/D,S/D,S/D,S/D,2.7,S/D,S/D,NaN,NaN,NaN
217,VT107,2017,9,'17-09,S/D,3.3,2,S/D,S/D,6,S/D,S/D,S/D,NaN,NaN,NaN
218,VT107,2017,10,'17-10,S/D,S/D,2.7,4.7,S/D,S/D,2,S/D,5.3,NaN,NaN,NaN
219,VT107,2017,11,'17-11,S/D,S/D,2.7,S/D,S/D,3.3,1.3,S/D,5.3,NaN,NaN,NaN
220,VT107,2017,12,'17-12,S/D,S/D,S/D,S/D,S/D,4,2.7,S/D,7.3,NaN,NaN,NaN
221,VT107,2017,13,'17-13,S/D,S/D,2.7,S/D,S/D,S/D,4,6,7.3,NaN,NaN,NaN
222,VT107,2017,14,'17-14,S/D,4,1.3,S/D,S/D,3.3,S/D,6.7,S/D,NaN,NaN,NaN
223,VT107,2017,15,'17-15,S/D,S/D,1.3,6,S/D,4.7,4,5.3,S/D,NaN,NaN,NaN
224,VT107,2017,16,'17-16,S/D,S/D,2,5.3,S/D,S/D,2.7,S/D,S/D,NaN,NaN,NaN
225,VT107,2017,17,'17-17,S/D,S/D,2,4,S/D,S/D,4.7,5.3,S/D,NaN,NaN,NaN
226,VT107,2017,18,'17-18,S/D,5.3,S/D,4,S/D,4.7,S/D,6.7,4.7,NaN,NaN,NaN
227,VT107,2017,19,'17-19,S/D,S/D,S/D,S/D,S/D,S/D,3.3,S/D,S/D,NaN,NaN,NaN
228,VT107,2017,20,'17-20,S/D,S/D,2.7,4.7,S/D,3.3,S/D,S/D,S/D,NaN,NaN,NaN
229,VT107,2017,21,'17-21,S/D,4,S/D,3.3,S/D,S/D,S/D,4.7,S/D,NaN,NaN,NaN
230,VT107,2017,22,'17-22,S/D,S/D,2.7,S/D,S/D,2.7,S/D,S/D,S/D,NaN,NaN,NaN
231,VT107,2017,23,'17-23,S/D,S/D,1.3,S/D,S/D,S/D,4,4.7,S/D,NaN,NaN,NaN
232,VT107,2017,24,'17-24,S/D,S/D,S/D,S/D,S/D,S/D,S/D,S/D,4.7,NaN,NaN,NaN
233,VT107,2017,25,'17-25,S/D,4,S/D,4.7,S/D,S/D,S/D,S/D,S/D,NaN,NaN,NaN
234,VT107,2017,26,'17-26,S/D,2.7,2.7,4,S/D,S/D,S/D,5.3,4.7,NaN,NaN,NaN
235,VT107,2017,27,'17-27,S/D,4.7,S/D,S/D,S/D,S/D,S/D,S/D,S/D,NaN,NaN,NaN
236,VT107,2017,28,'17-28,S/D,S/D,4.7,S/D,S/D,S/D,4,5.3,5.3,NaN,NaN,NaN
237,VT107,2017,29,'17-29,S/D,S/D,5.3,6,S/D,5.3,S/D,3.3,5.3,NaN,NaN,NaN
238,VT107,2017,30,'17-30,S/D,S/D,S/D,S/D,S/D,S/D,2,S/D,4.7,NaN,NaN,NaN
239,VT107,2017,31,'17-31,S/D,S/D,2,S/D,S/D,S/D,4,S/D,S/D,NaN,NaN,NaN

In [3]:
df['V AÃ±o']

0      2015
1      2015
2      2015
3      2015
4      2015
5      2015
6      2015
7      2015
8      2015
9      2015
10     2015
11     2015
12     2015
13     2015
14     2015
15     2015
16     2015
17     2015
18     2015
19     2015
20     2015
21     2015
22     2015
23     2015
24     2015
25     2015
26     2015
27     2015
28     2015
29     2015
       ...
210    2017
211    2017
212    2017
213    2017
214    2017
215    2017
216    2017
217    2017
218    2017
219    2017
220    2017
221    2017
222    2017
223    2017
224    2017
225    2017
226    2017
227    2017
228    2017
229    2017
230    2017
231    2017
232    2017
233    2017
234    2017
235    2017
236    2017
237    2017
238    2017
239    2017
Name: V AÃ±o, Length: 240, dtype: int64

In [4]:
#Parameter PT101 (precipitaciones)
pt = df[df['V Cod Para'] == 'PT101']

In [5]:
pt

,V Cod Para,V AÃ±o,V Dia,Periodo,1,2,3,4,5,6,7,8,9,10,11,12
0,PT101,2015,1,'15-01,0,0,0,0,0,0,0,0,0,0,0,-888
1,PT101,2015,2,'15-02,0,0,0,0,0,0,0,0,0,0,0,0
2,PT101,2015,3,'15-03,0,0,0,0,0,0,0,0,0,0,0,0
3,PT101,2015,4,'15-04,0,0,0,0,0,0,0,0,0,0,0,0
4,PT101,2015,5,'15-05,0,0,0,0,0,0,0,0,0,S/D,0,0
5,PT101,2015,6,'15-06,0,0,0,0,0,0,0,0,0,0,0,0
6,PT101,2015,7,'15-07,0,0,0,0,0,0,0,0,0,0,0,0
7,PT101,2015,8,'15-08,0,0,0,0,0,0,0,0,0,0,0,0
8,PT101,2015,9,'15-09,0,0,0,0.4,0,0,0,0,0,0,-888,0
9,PT101,2015,10,'15-10,0,0,0,0,0,0,0,0,0,0,0,0
10,PT101,2015,11,'15-11,0,0,0,0,0,0,0,0,0,0,0,0
11,PT101,2015,12,'15-12,0,0,0,0,0.4,0,0,0,0,0,0,0
12,PT101,2015,13,'15-13,0,0,0,0,0,0,0,0,0,0,0,0
13,PT101,2015,14,'15-14,0,0,1.3,0,0,0,0,0,0,0,0,0
14,PT101,2015,15,'15-15,0,0,9.1,0,0,0,0,0,0,0,0,0
15,PT101,2015,16,'15-16,0,0,0,0,0,0,0,0,0,0,0,0
16,PT101,2015,17,'15-17,0,0,0,0,0,0,0,0,0,0,-888,0
17,PT101,2015,18,'15-18,-888,0,2.2,0,0,0,0,0,0,0,0,0
18,PT101,2015,19,'15-19,0,0,1.1,0,0,0,0,0,0,0,0,0
19,PT101,2015,20,'15-20,0,0,0,0,0,0,0,0,0,0,0,0
20,PT101,2015,21,'15-21,0,0,0,0,0,0,0,0,0,0,-888,0
21,PT101,2015,22,'15-22,0,0,18,0,0,0,0,0,0,0.9,0,0
22,PT101,2015,23,'15-23,0,0,0,0,0,0,0,0,0,0,0,0
23,PT101,2015,24,'15-24,0,0.5,0,0,0,0,0,0,0,0,0,0
24,PT101,2015,25,'15-25,0,0,0,0,0,0,0,0,0,0,0,0
25,PT101,2015,26,'15-26,0,0,0,0,0,0,0,0,0,0,0,0
26,PT101,2015,27,'15-27,0,0,0,0,0,0,0,0,0,0,0,0
27,PT101,2015,28,'15-28,0,0,0,0,0,0,0,0,0,0,-888,0.8
28,PT101,2015,29,'15-29,0,S/D,0,0,0,0,0,0,0,0,0,0
29,PT101,2015,30,'15-30,0,S/D,0,0.3,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,PT101,2017,2,'17-02,S/D,31.1,0,0,S/D,0,0,0,0,NaN,NaN,NaN
64,PT101,2017,3,'17-03,S/D,1.8,0,0,S/D,0,0,0,0,NaN,NaN,NaN
65,PT101,2017,4,'17-04,S/D,0.3,4.8,0,S/D,0,0,0,0,NaN,NaN,NaN
66,PT101,2017,5,'17-05,S/D,0,7,0,S/D,0,0,0,0,NaN,NaN,NaN
67,PT101,2017,6,'17-06,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
68,PT101,2017,7,'17-07,S/D,1.7,0,0,S/D,0,0,0,0,NaN,NaN,NaN
69,PT101,2017,8,'17-08,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
70,PT101,2017,9,'17-09,S/D,0,0.5,0,S/D,0,0,0,0,NaN,NaN,NaN
71,PT101,2017,10,'17-10,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
72,PT101,2017,11,'17-11,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
73,PT101,2017,12,'17-12,S/D,0,22.1,0,S/D,0,0,0,0,NaN,NaN,NaN
74,PT101,2017,13,'17-13,S/D,0,12,0,S/D,0,0,0,0,NaN,NaN,NaN
75,PT101,2017,14,'17-14,S/D,0,9.6,0,S/D,0,0,0,0,NaN,NaN,NaN
76,PT101,2017,15,'17-15,S/D,0,1,0,S/D,0,0,0,0,NaN,NaN,NaN
77,PT101,2017,16,'17-16,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
78,PT101,2017,17,'17-17,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
79,PT101,2017,18,'17-18,S/D,0,60.7,0,S/D,0,0,0,0,NaN,NaN,NaN
80,PT101,2017,19,'17-19,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
81,PT101,2017,20,'17-20,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
82,PT101,2017,21,'17-21,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
83,PT101,2017,22,'17-22,S/D,0,6.1,0,S/D,0,0,0,0,NaN,NaN,NaN
84,PT101,2017,23,'17-23,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
85,PT101,2017,24,'17-24,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
86,PT101,2017,25,'17-25,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
87,PT101,2017,26,'17-26,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
88,PT101,2017,27,'17-27,S/D,0,0,0,S/D,0,0,0,0,NaN,NaN,NaN
89,PT101,2017,28,'17-28,S/D,0,0,0,S/D,0.3,0,0,0,NaN,NaN,NaN
90,PT101,2017,29,'17-29,S/D,S/D,0,0,S/D,0,0,0,5.4,NaN,NaN,NaN
91,PT101,2017,30,'17-30,S/D,S/D,0.8,S/D,S/D,0,0,0,S/D,NaN,NaN,NaN
92,PT101,2017,31,'17-31,S/D,S/D,0,S/D,S/D,S/D,0,0,S/D,NaN,NaN,NaN

In [6]:
import gc
gc.collect()

388

In [7]:
#Parameter TM101 
tm = df[df['V Cod Para'] == 'TM101']

In [8]:
#Parameter VT107 
vt = df[df['V Cod Para'] == 'VT107']

df2=[]
for i in range(1,13):
    df2.append(vt17.loc[:,['V Dia','V AÃ±o',str(i)]])
    i = i+1 
df2

In [9]:
#Change data presentation 

def cambio_datestamp(df): 
    '''Cambia los valores de meses en los indices por valores en serie indexados por aÃ±o, mes y dia'''
    values_array = np.array([['year', 'month', 'day', 'value']])
    for year in range(2015,2018):
        year_df = df[df['V AÃ±o'] == year]
        for month in range(1,13):
            month_df = year_df[str(month)]
            for day in range(0,31):
                day_value = month_df.iloc[day]
                fila = np.array([[str(year), str(month), str(day+1), day_value]])
                values_array = np.concatenate((values_array, fila), axis=0)

    return pd.DataFrame(values_array[1:-1], columns=values_array[0,:])

df.iloc[:5,4:].values.reshape(-1)

np.array([[1,2,3],[7,8,9],[7,8,9]]).reshape(-1)

In [10]:
pt_M = cambio_datestamp(pt)

In [11]:
pt_M

      year month day value
0     2015     1   1     0
1     2015     1   2     0
2     2015     1   3     0
3     2015     1   4     0
4     2015     1   5     0
5     2015     1   6     0
6     2015     1   7     0
7     2015     1   8     0
8     2015     1   9     0
9     2015     1  10     0
10    2015     1  11     0
11    2015     1  12     0
12    2015     1  13     0
13    2015     1  14     0
14    2015     1  15     0
15    2015     1  16     0
16    2015     1  17     0
17    2015     1  18  -888
18    2015     1  19     0
19    2015     1  20     0
20    2015     1  21     0
21    2015     1  22     0
22    2015     1  23     0
23    2015     1  24     0
24    2015     1  25     0
25    2015     1  26     0
26    2015     1  27     0
27    2015     1  28     0
28    2015     1  29     0
29    2015     1  30     0
...    ...   ...  ..   ...
1085  2017    12   1   nan
1086  2017    12   2   nan
1087  2017    12   3   nan
1088  2017    12   4   nan
1089  2017    12   5   nan
1090  2017    12   6   nan
1091  2017    12   7   nan
1092  2017    12   8   nan
1093  2017    12   9   nan
1094  2017    12  10   nan
1095  2017    12  11   nan
1096  2017    12  12   nan
1097  2017    12  13   nan
1098  2017    12  14   nan
1099  2017    12  15   nan
1100  2017    12  16   nan
1101  2017    12  17   nan
1102  2017    12  18   nan
1103  2017    12  19   nan
1104  2017    12  20   nan
1105  2017    12  21   nan
1106  2017    12  22   nan
1107  2017    12  23   nan
1108  2017    12  24   nan
1109  2017    12  25   nan
1110  2017    12  26   nan
1111  2017    12  27   nan
1112  2017    12  28   nan
1113  2017    12  29   nan
1114  2017    12  30   nan

[1115 rows x 4 columns]

In [12]:
tm_M = cambio_datestamp(tm)

In [13]:
tm_M.year

0       2015
1       2015
2       2015
3       2015
4       2015
5       2015
6       2015
7       2015
8       2015
9       2015
10      2015
11      2015
12      2015
13      2015
14      2015
15      2015
16      2015
17      2015
18      2015
19      2015
20      2015
21      2015
22      2015
23      2015
24      2015
25      2015
26      2015
27      2015
28      2015
29      2015
        ...
1085    2017
1086    2017
1087    2017
1088    2017
1089    2017
1090    2017
1091    2017
1092    2017
1093    2017
1094    2017
1095    2017
1096    2017
1097    2017
1098    2017
1099    2017
1100    2017
1101    2017
1102    2017
1103    2017
1104    2017
1105    2017
1106    2017
1107    2017
1108    2017
1109    2017
1110    2017
1111    2017
1112    2017
1113    2017
1114    2017
Name: year, Length: 1115, dtype: object

In [14]:
#vt = cambio_datestamp(vt)

In [15]:
#Reformat data 

def datestamp(df):
    df.year = df.year.astype(str).astype(int)
    df.month = df.month.astype(str).astype(int)
    df.day = df.day.astype(str).astype(int)
    df['date']=pd.to_datetime((df.year*10000 + df.month*100+df.day).apply(str),format='%Y%m%d',errors='coerce')
    df=df.drop(df[df.date.isnull()].index)
    df.value.replace('S/D', np.nan, regex=True, inplace = True)
    return df

In [16]:
pt_M.dtypes

year     object
month    object
day      object
value    object
dtype: object

In [17]:
tmfinal = datestamp(tm_M)

In [18]:
ptfinal = datestamp(pt_M)

In [19]:
tmfinal

      year  month  day value       date
0     2015      1    1    23 2015-01-01
1     2015      1    2  22.9 2015-01-02
2     2015      1    3  23.1 2015-01-03
3     2015      1    4  22.4 2015-01-04
4     2015      1    5  22.7 2015-01-05
5     2015      1    6  22.7 2015-01-06
6     2015      1    7  22.9 2015-01-07
7     2015      1    8  22.7 2015-01-08
8     2015      1    9  23.2 2015-01-09
9     2015      1   10    24 2015-01-10
10    2015      1   11  23.5 2015-01-11
11    2015      1   12  23.8 2015-01-12
12    2015      1   13  23.7 2015-01-13
13    2015      1   14  23.5 2015-01-14
14    2015      1   15  23.2 2015-01-15
15    2015      1   16    23 2015-01-16
16    2015      1   17    23 2015-01-17
17    2015      1   18  23.5 2015-01-18
18    2015      1   19  22.1 2015-01-19
19    2015      1   20    23 2015-01-20
20    2015      1   21  23.4 2015-01-21
21    2015      1   22  23.2 2015-01-22
22    2015      1   23  24.9 2015-01-23
23    2015      1   24  23.7 2015-01-24
24    2015      1   25  23.8 2015-01-25
25    2015      1   26  23.9 2015-01-26
26    2015      1   27  24.7 2015-01-27
27    2015      1   28  23.7 2015-01-28
28    2015      1   29  23.6 2015-01-29
29    2015      1   30  23.8 2015-01-30
...    ...    ...  ...   ...        ...
1085  2017     12    1   nan 2017-12-01
1086  2017     12    2   nan 2017-12-02
1087  2017     12    3   nan 2017-12-03
1088  2017     12    4   nan 2017-12-04
1089  2017     12    5   nan 2017-12-05
1090  2017     12    6   nan 2017-12-06
1091  2017     12    7   nan 2017-12-07
1092  2017     12    8   nan 2017-12-08
1093  2017     12    9   nan 2017-12-09
1094  2017     12   10   nan 2017-12-10
1095  2017     12   11   nan 2017-12-11
1096  2017     12   12   nan 2017-12-12
1097  2017     12   13   nan 2017-12-13
1098  2017     12   14   nan 2017-12-14
1099  2017     12   15   nan 2017-12-15
1100  2017     12   16   nan 2017-12-16
1101  2017     12   17   nan 2017-12-17
1102  2017     12   18   nan 2017-12-18
1103  2017     12   19   nan 2017-12-19
1104  2017     12   20   nan 2017-12-20
1105  2017     12   21   nan 2017-12-21
1106  2017     12   22   nan 2017-12-22
1107  2017     12   23   nan 2017-12-23
1108  2017     12   24   nan 2017-12-24
1109  2017     12   25   nan 2017-12-25
1110  2017     12   26   nan 2017-12-26
1111  2017     12   27   nan 2017-12-27
1112  2017     12   28   nan 2017-12-28
1113  2017     12   29   nan 2017-12-29
1114  2017     12   30   nan 2017-12-30

[1095 rows x 5 columns]

In [20]:
#set datestamp as index 
ptfinal.set_index('date', inplace=True)

In [21]:
ptfinal = ptfinal.drop(ptfinal.columns[[0,1,2]], 1)

In [22]:
#delete aditional columns 
tmfinal = tmfinal.drop(tmfinal.columns[[0,1,2]], 1)

In [23]:
tmfinal

     value       date
0       23 2015-01-01
1     22.9 2015-01-02
2     23.1 2015-01-03
3     22.4 2015-01-04
4     22.7 2015-01-05
5     22.7 2015-01-06
6     22.9 2015-01-07
7     22.7 2015-01-08
8     23.2 2015-01-09
9       24 2015-01-10
10    23.5 2015-01-11
11    23.8 2015-01-12
12    23.7 2015-01-13
13    23.5 2015-01-14
14    23.2 2015-01-15
15      23 2015-01-16
16      23 2015-01-17
17    23.5 2015-01-18
18    22.1 2015-01-19
19      23 2015-01-20
20    23.4 2015-01-21
21    23.2 2015-01-22
22    24.9 2015-01-23
23    23.7 2015-01-24
24    23.8 2015-01-25
25    23.9 2015-01-26
26    24.7 2015-01-27
27    23.7 2015-01-28
28    23.6 2015-01-29
29    23.8 2015-01-30
...    ...        ...
1085   nan 2017-12-01
1086   nan 2017-12-02
1087   nan 2017-12-03
1088   nan 2017-12-04
1089   nan 2017-12-05
1090   nan 2017-12-06
1091   nan 2017-12-07
1092   nan 2017-12-08
1093   nan 2017-12-09
1094   nan 2017-12-10
1095   nan 2017-12-11
1096   nan 2017-12-12
1097   nan 2017-12-13
1098   nan 2017-12-14
1099   nan 2017-12-15
1100   nan 2017-12-16
1101   nan 2017-12-17
1102   nan 2017-12-18
1103   nan 2017-12-19
1104   nan 2017-12-20
1105   nan 2017-12-21
1106   nan 2017-12-22
1107   nan 2017-12-23
1108   nan 2017-12-24
1109   nan 2017-12-25
1110   nan 2017-12-26
1111   nan 2017-12-27
1112   nan 2017-12-28
1113   nan 2017-12-29
1114   nan 2017-12-30

[1095 rows x 2 columns]

In [24]:
tmfinal.values

array([['23', Timestamp('2015-01-01 00:00:00')],
       ['22.9', Timestamp('2015-01-02 00:00:00')],
       ['23.1', Timestamp('2015-01-03 00:00:00')],
       ...,
       ['nan', Timestamp('2017-12-28 00:00:00')],
       ['nan', Timestamp('2017-12-29 00:00:00')],
       ['nan', Timestamp('2017-12-30 00:00:00')]], dtype=object)

In [25]:
tmfinal = tmfinal.set_index('date')

In [26]:
#dataframe to series 
#tmfinal = pd.Series(tmfinal.value).convert_objects(convert_numeric=True)

In [27]:
tmfinal.index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30'],
              dtype='datetime64[ns]', name='date', length=1095, freq=None)

In [28]:
#tmfinal['2016-01-01':'2016-05-31'].index.strftime('%m-%d')
tmfinal['2016-01-01':'2016-05-31']

           value
date
2016-01-01   NaN
2016-01-02  24.7
2016-01-03    24
2016-01-04    25
2016-01-05    26
2016-01-06  25.5
2016-01-07  25.6
2016-01-08  25.4
2016-01-09    25
2016-01-10  25.7
2016-01-11  25.6
2016-01-12  25.9
2016-01-13  25.2
2016-01-14  25.3
2016-01-15  25.2
2016-01-16  25.2
2016-01-17  25.3
2016-01-18  24.9
2016-01-19  25.5
2016-01-20  25.9
2016-01-21  25.7
2016-01-22  25.4
2016-01-23  24.9
2016-01-24  25.8
2016-01-25  26.1
2016-01-26  25.9
2016-01-27  25.3
2016-01-28  24.9
2016-01-29  24.6
2016-01-30  25.4
...          ...
2016-05-02  23.6
2016-05-03  22.4
2016-05-04  21.4
2016-05-05  21.7
2016-05-06  21.5
2016-05-07  21.1
2016-05-08  22.5
2016-05-09  23.3
2016-05-10  23.3
2016-05-11  22.5
2016-05-12    22
2016-05-13  21.4
2016-05-14  21.7
2016-05-15  21.6
2016-05-16  21.7
2016-05-17  21.9
2016-05-18    22
2016-05-19  22.2
2016-05-20  22.2
2016-05-21  20.1
2016-05-22  20.9
2016-05-23  20.7
2016-05-24  21.3
2016-05-25  21.5
2016-05-26  21.9
2016-05-27  20.9
2016-05-28  20.8
2016-05-29  21.6
2016-05-30  19.8
2016-05-31  20.6

[152 rows x 1 columns]

In [29]:
tm_month_day16 = tmfinal['2016-01-01':'2016-05-31'].index.strftime('%m-%d')

In [30]:
tm_month_day17 = tmfinal['2017-01-01':'2017-05-31'].index.strftime('%m-%d')
tm_month_day17

array(['01-01', '01-02', '01-03', '01-04', '01-05', '01-06', '01-07',
       '01-08', '01-09', '01-10', '01-11', '01-12', '01-13', '01-14',
       '01-15', '01-16', '01-17', '01-18', '01-19', '01-20', '01-21',
       '01-22', '01-23', '01-24', '01-25', '01-26', '01-27', '01-28',
       '01-29', '01-30', '01-31', '02-01', '02-02', '02-03', '02-04',
       '02-05', '02-06', '02-07', '02-08', '02-09', '02-10', '02-11',
       '02-12', '02-13', '02-14', '02-15', '02-16', '02-17', '02-18',
       '02-19', '02-20', '02-21', '02-22', '02-23', '02-24', '02-25',
       '02-26', '02-27', '02-28', '03-01', '03-02', '03-03', '03-04',
       '03-05', '03-06', '03-07', '03-08', '03-09', '03-10', '03-11',
       '03-12', '03-13', '03-14', '03-15', '03-16', '03-17', '03-18',
       '03-19', '03-20', '03-21', '03-22', '03-23', '03-24', '03-25',
       '03-26', '03-27', '03-28', '03-29', '03-30', '03-31', '04-01',
       '04-02', '04-03', '04-04', '04-05', '04-06', '04-07', '04-08',
       '04-09', '04-10', '04-11', '04-12', '04-13', '04-14', '04-15',
       '04-16', '04-17', '04-18', '04-19', '04-20', '04-21', '04-22',
       '04-23', '04-24', '04-25', '04-26', '04-27', '04-28', '04-29',
       '04-30', '05-01', '05-02', '05-03', '05-04', '05-05', '05-06',
       '05-07', '05-08', '05-09', '05-10', '05-11', '05-12', '05-13',
       '05-14', '05-15', '05-16', '05-17', '05-18', '05-19', '05-20',
       '05-21', '05-22', '05-23', '05-24', '05-25', '05-26', '05-27',
       '05-28', '05-29', '05-30', '05-31'],
      dtype='<U5')

In [31]:
#get values for specific dates 
values = tmfinal['2017-01-01':'2017-05-31'].values

In [32]:
values = values.astype(float)

In [33]:
import math 
valueslog = [math.log(float(y),10) for y in values]

In [34]:
valueslog

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.4329692908744056,
 1.4166405073382808,
 1.4216039268698308,
 1.4232458739368077,
 1.4232458739368077,
 1.437750562820388,
 1.4297522800024078,
 1.4393326938302626,
 1.426511261364575,
 1.426511261364575,
 1.4313637641589871,
 1.4232458739368077,
 1.426511261364575,
 1.4409090820652177,
 1.4487063199050798,
 1.437750562820388,
 1.4393326938302626,
 1.4393326938302626,
 1.4456042032735974,
 1.4424797690644484,
 1.4409090820652177,
 1.437750562820388,
 1.437750562820388,
 1.4409090820652177,
 1.437750562820388,
 1.4424797690644484,
 1.45484486000851,
 1.4638929889859071,
 1.45484486000851,
 1.45484486000851,
 1.45484486000851,
 1.437750562820388,
 1.4456042032735974,
 1.4456042032735974,
 1.450249108319361,
 1.4329692908744056,
 1.426511261364575,
 1.4456042032735974,
 1.4487063199050798,
 1.4578818967339922,
 1.4313637641589871,
 1.4099331233312944,
 1.4216039268698308,
 1.4409090820652177,
 1.45178643552429,
 1.426511261364575,
 1.4409090820652177,
 1.4313637641589871,
 1.450249108319361,
 1.4313637641589871,
 1.437750562820388,
 1.4440447959180762,
 1.4297522800024078,
 1.4329692908744056,
 1.426511261364575,
 1.4345689040341985,
 1.4216039268698308,
 1.41161970596323,
 1.4132997640812517,
 1.4048337166199378,
 1.3926969532596656,
 1.3856062735983121,
 1.3909351071033789,
 1.380211241711606,
 1.3891660843645324,
 1.3926969532596656,
 1.4048337166199378,
 1.3996737214810382,
 1.401400540781544,
 1.3926969532596656,
 1.3747483460101038,
 1.3926969532596656,
 1.380211241711606,
 1.3710678622717363,
 1.383815365980431,
 1.3692158574101427,
 1.3820170425748683,
 1.3873898263387294,
 1.3783979009481375,
 1.3783979009481375,
 1.3654879848908996,
 1.383815365980431,
 1.3747483460101038,
 1.3692158574101427,
 1.3692158574101427,
 1.3765769570565118,
 1.3673559210260187,
 1.3636119798921442,
 1.3820170425748683,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [35]:
import math 
values1 = math.log(values)

TypeError: only length-1 arrays can be converted to Python scalars

In [36]:
values16 = tmfinal['2016-01-01':'2016-05-31'].values

In [37]:
values16 = values16.astype(float)

In [38]:
valueslog16 = [math.log(y,10) for y in values16]

In [39]:
len(tm_month_day17)

151

In [40]:
df_tm17 = pd.DataFrame(values, index=tm_month_day17,columns=['Temperature'])

In [41]:
df_tm16 = pd.DataFrame(values16, index=tm_month_day16,columns=['Temperature'])

In [42]:
df_tm16_log= pd.DataFrame(valueslog16, index=tm_month_day16,columns=['Temperature'])

In [43]:
#Drop value corresponding to 02-29 in order to plot both time series in the same graph

df_tm16m = df_tm16.drop(df_tm16[df_tm16.index=='02-29'].index,axis=0)

In [44]:
#log
df_tm16mlog = df_tm16_log.drop(df_tm16_log[df_tm16_log.index=='02-29'].index,axis=0)

In [45]:
#Final dataframe for visualization

df_tm_g= pd.DataFrame(values, index=tm_month_day17,columns=['2017'])

In [46]:
#log 
df_tm_g_log=pd.DataFrame(valueslog, index=tm_month_day17,columns=['2017'])

In [47]:
#Add 2016 temperatures to the dataframe as a column 
df_tm_g['2016']= df_tm16m.values

In [50]:
df_tm_g.isnull().sum()

2017    62
2016     1
dtype: int64

# DATA FOR KULLBACK PLOTS

In [60]:
df_tm_g['05-01':'05-30']

       2017  2016
05-01   NaN  23.4
05-02   NaN  23.6
05-03   NaN  22.4
05-04   NaN  21.4
05-05   NaN  21.7
05-06   NaN  21.5
05-07   NaN  21.1
05-08   NaN  22.5
05-09   NaN  23.3
05-10   NaN  23.3
05-11   NaN  22.5
05-12   NaN  22.0
05-13   NaN  21.4
05-14   NaN  21.7
05-15   NaN  21.6
05-16   NaN  21.7
05-17   NaN  21.9
05-18   NaN  22.0
05-19   NaN  22.2
05-20   NaN  22.2
05-21   NaN  20.1
05-22   NaN  20.9
05-23   NaN  20.7
05-24   NaN  21.3
05-25   NaN  21.5
05-26   NaN  21.9
05-27   NaN  20.9
05-28   NaN  20.8
05-29   NaN  21.6
05-30   NaN  19.8

In [48]:
from decimal import Decimal

ene_avg = round(df_tm_g['2016']['01-01':'01-31'].mean(),2)

In [ ]:
%precision %.2f
ene_avg

In [ ]:
#log 
df_tm_g_log['2016']= df_tm16mlog.values

In [ ]:
df_tm_g_log

In [ ]:
ax= df_tm_g_log.plot()
ax.set_title('Temperature - Trujillo')
ax.set_ylabel('C Âº')
plt.grid()
plt.show()

In [ ]:
ax= df_tm_g.plot(logy=True)
ax.set_title('Temperature - Trujillo')
ax.set_ylabel('C Âº')
plt.grid()
plt.show()

In [ ]:
ax=df_tm16m.plot()
ax=df_tm17.plot()
plt.show()

In [ ]:
ax=df_tm16.plot(color='r')
ax=df_tm17.plot(color='g')
plt.show()

In [ ]:
import numpy as np
import math

In [ ]:
math.log(np.nan)